<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUrl" value="https://identity.na.vwgroup.io/oidc/v1/token" />
    <add key="ClientId" value="1544b34c-a504-4dc2-990d-da2dd84a1249@apps_vw-dilab_com" />
    <add key="ClientSecret" value="8e65e823571a82c9a5827456054a8df04e26cd7d56f2858d9087edeba07055c8" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>