<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoginEndpointUrl" value="https://identity.na.vwgroup.io/oidc/v1/token" />
    <add key="ClientId" value="1544b34c-a504-4dc2-990d-da2dd84a1249@apps_vw-dilab_com" />
    <add key="ClientSecret" value="8e65e823571a82c9a5827456054a8df04e26cd7d56f2858d9087edeba07055c8" />
    <add key="SobHostUrl" value="https://sob-api-ar-qs.itd.vw.com.br/api/v1/" />
    <add key="DealerNumber" value="53056" />
    <add key="EventosSQLServerConnectionString" value="dsn=dsnEventos;uid=juan;pwd=5871;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>